<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8"/>
        <title>test</title>
    </head>

    <body>

        <div class="contentDiv">
            <div><a class="btn btn-primary" href="/api/city?cityName=shaoguan">访问城市</a></div>
        </div>
        <div class="contentDiv">
            <div><a class="btn btn-primary" href="/exception/city?cityName=">统一异常处理</a></div>cityAndUser
        </div>
        <div class="contentDiv">
            <div><a class="btn btn-primary" href="/api/cityAndUser?id=1">两个数据源</a></div>
        </div>

    </body>
</html>